/*重置样式*/
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; border: 0; outline: none;}
body{line-height: 1;font-size: 88% /* Decide for yourself if you want to include this. */;}
h1, h2, h3, h4, h5, h6{font-size: 100%;padding: 0;margin: 0 15px;}
ul, ol{list-style: none;}
a{color: black;text-decoration: none;}
a:hover
{text-decoration: underline;}
.floatLeft{float: left;padding: .5em .5em .5em 0;}
.floatRight{float: right;padding: .5em 0 .5em .5em;}

header
{
    width: 100%;
    height: 180px;
}

h1
{
    font-size: 80px;
    color: white;
    font-weight: bold;
    line-height: 200px;
    text-align: center;
}

/*背景渐变*/
.gradient
{ 
   
    background: rgb(0,74,148);
    background: -moz-linear-gradient(top, rgb(0,74,148) 50%, rgb(219,166,170) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,74,148)), color-stop(100%,rgb(219,166,170)));
    background: -webkit-linear-gradient(top, rgb(0,74,148) 50%,rgb(219,166,170) 100%);
    background: -o-linear-gradient(top, rgb(0,74,148) 50%,rgb(219,166,170) 100%);
    background: -ms-linear-gradient(top, rgb(0,74,148) 50%,rgb(219,166,170) 100%);
    background: linear-gradient(to bottom, rgb(0,74,148) 50%,rgb(219,166,170) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(0,74,148)', endColorstr='rgb(219,166,170)',GradientType=0 ); 
} 


#search_warp
{
    width: 100%;
    background: rgb(182,191,213);
    border-top: solid 1px rgb(203,205,204);
    text-align: center;
}

#search_bar
{
    padding: 6px 0;
}
#input_job
{   
    display: inline-block;
    height: 33px;
    width: 250px;
    margin-right: 4px;
    padding-left: 6px;
    font-size: 15px;
    vertical-align: middle;
    border-radius: 5px;
}

#submit
{
    height: 33px;
    width: 50px;
    vertical-align: middle;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: rgb(40,96,144);
    background-image: url("../img/查找.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 23px;
}

#warp
{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

#chart
{
    margin: 10px auto;
    height: 800px;
    width: 600px;
}

.header-bottom
{
    margin:0 auto;
    padding: 5px 0 8px 0;
    text-align: center;
    font-size: 12px;
    color: white;
    font-size: bold;
    font-family: "微软雅黑";
    margin-bottom: 20px;
}

.city_span
{   
    position: relative;
    display: inline-block;
    height: 1.6em;
    line-height: 1.6em;
    padding: 0 0.8em;
    background: green;
    vertical-align: middle;
    margin:0 1em;
}
.city_span:after
{   
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 0.8em solid transparent;
    border-left-color:green;
    left: 100%;
    top:50%;
    margin-top: -0.8em;
}

.add_span
{   
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    background-color: transparent;
    background-image: url(../img/加号.svg);
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: center;
    vertical-align: middle;
    margin:0 .3em;
}
.remove_span
{
    float: right;
    margin-left: .4em;
    height: 1.6em;
    width: 1.6em;
    background-color: transparent;
    background-image: url(../img/删除.svg);
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: 1em .3em;
}
.city_input
{
    height: 1.6em;
    width: 6em;
    line-height: 1.6em;
    padding-left: 0.2em;
    vertical-align: middle;
    margin:0 .6em; 
}
