* {
    margin: 0 0;
    padding: 0 0;

}

#container {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #999;
}

#header {
    margin: 10px auto;
    background: #598;
    padding: 5px 5px;
}

#header input {
    height: 15px;
    margin-top: 10px;
}

#submit {
    height: 21px;
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
}

#jobinfo {
    margin: 10px 0;
    width: 100%;
    height: 800px;
}

#jobinfotable {
    margin: 30px auto;
}

#jobinfotable td {
    width: 70px;
}