* {
    margin: 0 0;
    padding: 0 0;

}

#container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #999;
}

#header {
    margin: 10px auto;
    background: #598;
    padding: 5px 5px;
}


#jobinfo {
    margin: 10px 0;
    width: 100%;
    height: 800px;
}